---
layout: splash
title: Welcome to H. Jeon's homepage
header:
  image: /assets/images/montreal.jpg
  caption: "Photo credit: [**Hyung-Bae Jeon**](https://jhb5696.github.io)"
  excerpt: "I am a postdoctoral researcher at the Fraser's lab"
intro: 
  - excerpt: '**Who am I?**'
feature_row1:
  - image_path: /assets/images/pca.png
    alt: "placeholder image 1"
    title: "Evolutionary Biologist"
    excerpt: "I am studying __evolutionary biology__ using multidisciplinary approach (_genetics, transcriptomics, ecology, phylogeography, immunology, etc_)"
    url: "/research/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/rp.jpg
    alt: "placeholder image 2"
    title: "Ichthyologist"
    excerpt: "I am studying :fish: because I love them"
    url: "/fishes/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/south.jpg
    title: "Photographer"
    excerpt: "I am a semi-professinal photographer"
    url: "/gallery/"
    btn_label: "See Gallery"
    btn_class: "btn--primary"
    
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}